.features {
  margin-top: 50px;
  margin-bottom: -30px;  /* 添加底部边距 */
}

.featureCard {
  transition: all 0.9s cubic-bezier(0.2, 0.8, 0.4, 1);
  border-radius: 10px;
  padding: 1rem;
  background: transparent;
  pointer-events: none;
}

.featureCard.animate-in {
  transform: scale(1.03) translateY(-5px);
  background: transparent;
}
